*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadada;
    flex-direction: column;
    gap: 50px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    padding: 30px 60px;
    font-size: 40px;
}
button{
    padding: 30px 60px;
    font-size: 40px;
    margin-top: 10px;
}
button:active{
    scale: 0.95;
}